<!-- Page Wrapper -->
<div id="wrapper">
    <app-menu></app-menu>
    <div class="row d-flex w-100">
        <div class="container-fluid">
            <div class="row d-flex flex-column">
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-center">
                    <h1 class="font-weight-bold text-primary">Add New Product</h1>
                </nav>
            </div>
        </div>

        <div class="mt-2 container-fluid">
            <mat-tab-group #prodTab>
                <mat-tab label="Main Infomation">
                    <div class="mt-2 container-fluid">
                        <div class="row d-flex flex-column">
                            <form #addProdForm="ngForm" (ngSubmit)="addProd(addProdForm)">
                                <div class="col">
                                    <div class="card shadow mb-2 border-left-info">
                                        <div class="col m-2">
                                            <div class="row">
                                                <h2 class="font-weight-bold text-info">Version</h2>
                                            </div>
                                            <div class="row d-flex flex-nowrap">
                                                <div class="col flex-column">
                                                    <div class="form-group">
                                                        <mat-checkbox [(ngModel)]="isOriginal"
                                                            [ngModelOptions]="{standalone: true}" color="primary">
                                                        </mat-checkbox>
                                                    </div>
                                                </div>
                                                <div class="col flex-fill">
                                                    <div class="form-group">
                                                        <input required="" type="text" class="form-control"
                                                            placeholder="Product Unique Code" [(ngModel)]="Original"
                                                            name="productNo">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex flex-nowrap">
                                                <div class="col flex-column">
                                                    <div class="form-group mt-2">
                                                        <mat-checkbox [(ngModel)]="isDuplicate"
                                                            [ngModelOptions]="{standalone: true}" color="primary">
                                                        </mat-checkbox>
                                                    </div>
                                                </div>
                                                <div class="col flex-fill">
                                                    <div class="form-group">
                                                        <mat-form-field class="d-flex">
                                                            <mat-label>Duplicate: </mat-label>
                                                            <mat-select [(ngModel)]="selectedCd"
                                                                (ngModelChange)="chooseCd($event)"
                                                                [ngModelOptions]="{standalone: true}" class="d-flex">
                                                                <mat-option *ngFor="let prod of prodList"
                                                                    [value]="prod.productNo">{{prod.name}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow mb-2 border-left-info">
                                        <div class="row d-flex flex-column align-items-center m-2">
                                            <div class="col">
                                                <div class="row">
                                                    <h2 class="font-weight-bold text-info">Product Infomation</h2>
                                                </div>
                                                <div class="row d-flex flex-nowrap">
                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Catgory:</mat-label>
                                                                <mat-select [(ngModel)]="selectedCat"
                                                                    (ngModelChange)="chooseCat($event)"
                                                                    [ngModelOptions]="{standalone: true}">
                                                                    <mat-option *ngFor="let cat of catList"
                                                                        [value]="cat.id">{{cat.categoryName}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>

                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Manufacturer:</mat-label>
                                                                <mat-select [(ngModel)]="selectedMaf"
                                                                    (ngModelChange)="chooseMaf($event)"
                                                                    [ngModelOptions]="{standalone: true}">
                                                                    <mat-option *ngFor="let maf of mafList"
                                                                        [value]="maf.id">{{maf.manufacturerName}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>

                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Color:</mat-label>
                                                                <mat-select [(ngModel)]="selectedColor"
                                                                    (ngModelChange)="chooseColor($event)"
                                                                    [ngModelOptions]="{standalone: true}">
                                                                    <mat-option *ngFor="let color of colorList"
                                                                        [value]="color.id">{{color.color}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Product Name: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="prod.name" name="name">
                                                </div>

                                                <div class="form-group">
                                                    <label>Product Price: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prod.price" name="price">
                                                </div>

                                                <div class="form-group ">
                                                    <mat-checkbox [(ngModel)]="prod.available"
                                                        [ngModelOptions]="{standalone: true}" color="primary">
                                                    </mat-checkbox>
                                                    <label> Available</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow mb-2 border-left-info">
                                        <div class="col m-2">
                                            <div class="row">
                                                <h2 class="font-weight-bold text-info">Upload Image</h2>
                                            </div>

                                            <div class="row">
                                                <input type="file" (input)="onInput($event)" accept="image/*"
                                                    id="inputField" multiple="true">
                                                <div id="grLoader" style="display: none;" class="row">
                                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                                    <h4>Vui lòng đợi tải hình ảnh lên !!!</h4>
                                                </div>
                                            </div>

                                            <div>
                                                <mat-grid-list cols="5" rowHeight="1:1" class="mt-2">
                                                    <mat-grid-tile *ngFor="let url of imgLst.imgItem; let i = index;"
                                                        class="row">
                                                        <div>
                                                            <img [src]="url" width="100%" height="100%">
                                                        </div>
                                                        <span class="btn-remove" color="warn"
                                                            (click)="removeImg(i)">X</span>
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row d-flex flex-column align-items-center m-2">
                                        <button type="submit" class="btn btn-primary">Add This Product</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Details">
                    <div class="mt-2 container-fluid">
                        <div class="row d-flex flex-column" *ngIf="isLT">
                            <form #addProdDetailForm="ngForm" (ngSubmit)="addProdDetail(addProdDetailForm)">
                                <div class="col">
                                    <div class="card shadow mb-2 border-left-info">
                                        <div class="row d-flex flex-column align-items-center m-2">
                                            <div class="col">
                                                <div class="row">
                                                    <h2 class="font-weight-bold text-info">Product Additional Infomation
                                                    </h2>
                                                </div>
                                                <div class="form-group">
                                                    <label>CPU Name: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="prodDetail.cpu"
                                                        name="cpu">
                                                </div>

                                                <div class="form-group">
                                                    <label>Core Number: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.core" name="core">
                                                </div>

                                                <div class="form-group">
                                                    <label>Thread Number: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.thread" name="thread">
                                                </div>

                                                <div class="form-group">
                                                    <label>CPU Base Speed: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.cpuSpeed" name="cpuSpeed">
                                                </div>

                                                <div class="form-group">
                                                    <label>CPU MaxSpeed: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.cpuMaxSpeed" name="cpuMaxSpeed">
                                                </div>

                                                <div class="form-group">
                                                    <label>Cache Size: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.cache" name="cache">
                                                </div>

                                                <div class="form-group">
                                                    <label>RAM Size: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.ram" name="ram">
                                                </div>

                                                <div class="form-group">
                                                    <label>RAM Type: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="prodDetail.typeRAM"
                                                        name="typeRAM">
                                                </div>

                                                <div class="form-group">
                                                    <label>BUS RAM: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.busRAM" name="busRAM">
                                                </div>

                                                <div class="form-group">
                                                    <label>RAM Max Size: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.maxRAM" name="maxRAM">
                                                </div>

                                                <div class="form-group">
                                                    <label>Storage: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="prodDetail.ssd"
                                                        name="ssd">
                                                </div>

                                                <div class="form-group">
                                                    <label>Screen Size: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.screenSize" name="screenSize">
                                                </div>

                                                <div class="form-group">
                                                    <label>Screen Resolution: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name"
                                                        [(ngModel)]="prodDetail.displayResolution"
                                                        name="displayResolution">
                                                </div>

                                                <div class="form-group">
                                                    <label>Screen Refesh Rate: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="prodDetail.hz" name="hz">
                                                </div>

                                                <div class="row d-flex flex-nowrap mt-4">
                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill" class="d-flex">
                                                                <mat-label>Screen Technologys:</mat-label>
                                                                <mat-select [(ngModel)]="prodDetail.displayTechnologies"
                                                                    [ngModelOptions]="{standalone: true}" multiple>
                                                                    <mat-option *ngFor="let scrTech of scrTechLst"
                                                                        [value]="scrTech.id">{{scrTech.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>VGA: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="prodDetail.graphicsCard"
                                                        name="graphicsCard">
                                                </div>

                                                <div class="form-group">
                                                    <label>Sound System: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="prodDetail.sound"
                                                        name="sound">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex flex-nowrap justify-content-center mb-2">
                                            <div class="col d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Add Information</button>
                                            </div>
                                            <div class="col d-flex justify-content-center">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="reload()">Skip</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Phone -->
                        <div class="row d-flex flex-column" *ngIf="!isLT">
                            <form #addProdEDetailForm="ngForm" (ngSubmit)="addProdEDetail(addProdEDetailForm)">
                                <div class="col">
                                    <div class="card shadow mb-2 border-left-info">
                                        <div class="row d-flex flex-column align-items-center m-2">
                                            <div class="col">
                                                <div class="row">
                                                    <h2 class="font-weight-bold text-info">Product Additional Infomation
                                                    </h2>
                                                </div>

                                                <div class="form-group">
                                                    <mat-form-field appearance="fill" class="d-flex">
                                                        <mat-label>Screen Technologys:</mat-label>
                                                        <mat-select [(ngModel)]="selectedSrcTech"
                                                            (ngModelChange)="chooseSrcTech($event)"
                                                            [ngModelOptions]="{standalone: true}">
                                                            <mat-option *ngFor="let scrTech of scrTechLst"
                                                                [value]="scrTech.id">{{scrTech.name}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <div class="form-group">
                                                    <label>Screen Resolution: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter Resolution"
                                                        [(ngModel)]="ProdEDetail.displayResolution" name="displayResolution">
                                                </div>

                                                <div class="form-group">
                                                    <label>Screen Size: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="ProdEDetail.screenSize" name="screenSize">
                                                </div>

                                                <div class="form-group">
                                                    <label>Brightness: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.maxLight"
                                                        name="maxLight">
                                                </div>

                                                <div class="form-group">
                                                    <label>Screen Protection: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.glass"
                                                        name="glass">
                                                </div>

                                                <div class="form-group">
                                                    <label>Main Camera Resolution: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name"
                                                        [(ngModel)]="ProdEDetail.mainCameraResolution"
                                                        name="mainCameraResolution">
                                                </div>

                                                <div class="form-group">
                                                    <label>Front Camera Resolution: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name"
                                                        [(ngModel)]="ProdEDetail.selfieCameraResolution"
                                                        name="selfieCameraResolution">
                                                </div>

                                                <div class="form-group">
                                                    <label>Flash Light: </label>
                                                    <input type="number" class="form-control" placeholder="Enter Value"
                                                        [(ngModel)]="ProdEDetail.flash" name="flash">
                                                </div>

                                                <div class="row d-flex flex-nowrap mt-4">
                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill" class="d-flex">
                                                                <mat-label>Main Camera Features:</mat-label>
                                                                <mat-select [(ngModel)]="ProdEDetail.mainCameraFeatures"
                                                                    [ngModelOptions]="{standalone: true}" multiple>
                                                                    <mat-option *ngFor="let scrTech of mainCamLst"
                                                                        [value]="scrTech.id">{{scrTech.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row d-flex flex-nowrap mt-2">
                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill" class="d-flex">
                                                                <mat-label>Front Camera Features:</mat-label>
                                                                <mat-select
                                                                    [(ngModel)]="ProdEDetail.selfieCameraFeatures"
                                                                    [ngModelOptions]="{standalone: true}" multiple>
                                                                    <mat-option *ngFor="let scrTech of frontCamLst"
                                                                        [value]="scrTech.id">{{scrTech.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>OS: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.os"
                                                        name="os">
                                                </div>

                                                <div class="form-group">
                                                    <label>CPU Name: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.chipset"
                                                        name="cpu">
                                                </div>

                                                <div class="form-group">
                                                    <label>CPU Technologys: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.cpuSpeed"
                                                        name="cpuSpeed">
                                                </div>

                                                <div class="form-group">
                                                    <label>GPU: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.gpu"
                                                        name="gpu">
                                                </div>

                                                <div class="form-group">
                                                    <label>RAM: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="ProdEDetail.ram" name="ram">
                                                </div>

                                                <div class="form-group">
                                                    <label>ROM: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="ProdEDetail.rom" name="rom">
                                                </div>

                                                <div class="form-group">
                                                    <label>Actual ROM: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="ProdEDetail.romUseable" name="romUseable">
                                                </div>

                                                <div class="form-group">
                                                    <label>Contact Size: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.contacts"
                                                        name="contacts">
                                                </div>

                                                <div class="form-group">
                                                    <label>Network Technologys: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.mobileNetwork"
                                                        name="mobileNetwork">
                                                </div>

                                                <div class="form-group">
                                                    <label>SIM: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.sim"
                                                        name="sim">
                                                </div>

                                                <div class="form-group">
                                                    <label>Bluetooth: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.bluetooth"
                                                        name="bluetooth">
                                                </div>

                                                <div class="form-group">
                                                    <label>Port: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.port"
                                                        name="port">
                                                </div>

                                                <div class="form-group">
                                                    <label>Headphone Connector: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.jackPhone"
                                                        name="jackPhone">
                                                </div>

                                                <div class="form-group">
                                                    <label>Battery Capacity: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="ProdEDetail.batteryCapacity" name="pinCapacity">
                                                </div>

                                                <div class="form-group">
                                                    <label>Battery Type:: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.batteryType"
                                                        name="pinType">
                                                </div>

                                                <div class="form-group">
                                                    <label>Charging Wattage: </label>
                                                    <input type="number" class="form-control" placeholder="Enter price"
                                                        [(ngModel)]="ProdEDetail.maxChargingSupport" name="maxChargingSupport">
                                                </div>

                                                <div class="row d-flex flex-nowrap mt-4">
                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill" class="d-flex">
                                                                <mat-label>Advanced Securities:</mat-label>
                                                                <mat-select [(ngModel)]="ProdEDetail.advancedSecurities"
                                                                    [ngModelOptions]="{standalone: true}" multiple>
                                                                    <mat-option *ngFor="let scrTech of adcSecLst"
                                                                        [value]="scrTech.id">{{scrTech.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row d-flex flex-nowrap mt-2">
                                                    <div class="col flex-fill">
                                                        <div class="form-group">
                                                            <mat-form-field appearance="fill" class="d-flex">
                                                                <mat-label>Special Features:</mat-label>
                                                                <mat-select [(ngModel)]="ProdEDetail.specialFeatures"
                                                                    [ngModelOptions]="{standalone: true}" multiple>
                                                                    <mat-option *ngFor="let scrTech of spcFetLst"
                                                                        [value]="scrTech.id">{{scrTech.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Design Pattern: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.design"
                                                        name="design">
                                                </div>

                                                <div class="form-group">
                                                    <label>Matterial: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name" [(ngModel)]="ProdEDetail.material"
                                                        name="material">
                                                </div>

                                                <div class="form-group">
                                                    <label>Dimension And Weight: </label>
                                                    <input required="" type="text" class="form-control"
                                                        placeholder="Enter name"
                                                        [(ngModel)]="ProdEDetail.dimensionAndWeight" name="dimensionAndWeight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex flex-nowrap justify-content-center mb-2">
                                            <div class="col d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Add Information</button>
                                            </div>
                                            <div class="col d-flex justify-content-center">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="reload()">Skip</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>