.mat-grid-tile{
    border: 2px solid#3498db;
}
.btn-remove{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}